<%= link_to '&larr; Back to Messages'.html_safe, messages_path %>

<h1>Edit Message</h1>

<%= error_messages_for :message %>

<%= form_for(@message) do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
<% end %>

<div style="margin-left: 30px;">
  <%= link_to 'Remove Message -', message_path(@message), :confirm => 'Are you sure?', :method => :delete, :class => "button" %>
</div>
