<h1>Messages</h1>

<%= link_to 'Add Message +', new_message_path, :class => "button add_button" %>

<table class="projects">
  <tr>
    <th>Text</th>
    <th>Expires</th>
  </tr>

<% for message in @messages %>
  <tr class="<%= cycle("odd", "even") %>">
    <td><%=h message.text %></td>
    <td><%=h message.expires_at %></td>
    <td><%= link_to 'Edit', edit_message_path(message), :class => "button" %></td>
  </tr>
<% end %>
</table>

