<h1>Messages</h1>

<%= link_to 'Add Message +', new_message_path, :class => "button add_button" %>

<table class="projects">
  <tr>
    <th>Text</th>
    <th>Expires In</th>
    <th>Tags</th>
  </tr>

<% for message in @messages %>
  <tr class="<%= cycle("odd", "even") %>">
    <td><%=h message.text %></td>
    <td><%=h time_ago_in_words(message.expires_at) %></td>
    <td class="tag_list"><%= message.tag_list %></td>
    <td><%= link_to 'Edit', edit_message_path(message), :class => "button" %></td>
  </tr>
<% end %>
</table>

<h1>Twitter Searches</h1>

<%= link_to 'Add Twitter Search +', new_twitter_search_path, :class => "button add_button" %>

<table class="projects">
  <tr>
    <th>Search Term</th>
    <th>Tags</th>
  </tr>

<% reset_cycle -%>
<% for twitter_search in @twitter_searches %>
  <tr class="<%= cycle("odd", "even") %>">
    <td><%=h twitter_search.search_term %></td>
    <td class="tag_list"><%= twitter_search.tag_list %></td>
    <td><%= link_to 'Edit', edit_twitter_search_path(twitter_search), :class => "button" %></td>
  </tr>
<% end %>
</table>

