<h1>Log In</h1>

<%= form_tag session_path do -%>
  <p>
    <%= label_tag 'login' %>
    <%= text_field_tag 'login', @login, :autofocus => true %>
  </p>

  <p>
    <%= label_tag 'password' %>
    <%= password_field_tag 'password', nil %>
  </p>

  <!-- Uncomment this if you want this functionality
  <p>
    <%= label_tag 'remember_me', 'Remember me' %>
    <%= check_box_tag 'remember_me', '1', @remember_me %>
  </p>
  -->

  <p style="text-align: right; margin-bottom: 0;">
    <%= submit_tag 'Log In' %>
  </p>
<% end -%>

