%h1 Log In
= form_tag session_path do
  %p
    = label_tag 'login'
    = text_field_tag 'login', @login, :autofocus => true
  %p
    = label_tag 'password'
    = password_field_tag 'password', nil
  /
    Uncomment this if you want this functionality
    <p>
    <haml:loud> label_tag 'remember_me', 'Remember me' </haml:loud>
    <haml:loud> check_box_tag 'remember_me', '1', @remember_me </haml:loud>
    </p>
  %p{:style => "text-align: right; margin-bottom: 0;"}
    = submit_tag 'Log In'
