<% if @log_entries.nil? %>
    <div class="log_entries_error">
        Could not retrieve recent checkins
    </div>
<% else %>
    <% @log_entries.each_with_index do |log_entry, index| %>
        <div class="log_entry" id="log_entry_<%= index %>" style="display:none">
            <table>
                <tr>
                    <td class="log_entry_meta">
                        <%= log_entry.date_time.localtime.strftime('%I:%M%p') %>
                        <br>
                        rev <%= log_entry.revision %>
                    </td>
                    <td>&nbsp;&nbsp;&nbsp;</td>
                    <td class="log_entry_message"><%= log_entry.message %></td>
                </tr>
            </table>
        </div>
        <script language="javascript">
            setTimeout("Effect.Appear('log_entry_<%=index%>')", <%=500*index%>);
        </script>
    <% end %>
<% end %>
