= link_to '&larr; Back to Projects'.html_safe, edit_configuration_path
%h1 Add User
%hr
= error_messages_for @user
= form_for(@user, html: { class: 'form-horizontal' }) do |f|
  .form-group
    = f.label :login, class: 'col-sm-2 control-label'
    .col-sm-2
      = f.text_field :login, class: 'form-control'
  .form-group
    = f.label :email, class: 'col-sm-2 control-label'
    .col-sm-2
      = f.text_field :email, class: 'form-control'
  .form-group
    = f.label :password, class: 'col-sm-2 control-label'
    .col-sm-2
      = f.password_field :password, class: 'form-control'
  .form-group
    = f.label :password_confirmation, 'Confirm Password', class: 'col-sm-2 control-label'
    .col-sm-2
      = f.password_field :password_confirmation, class: 'form-control'
  .row
    .col-sm-offset-2.col-sm-2
      = submit_tag 'Create', class: 'btn btn-primary'
