%p
  = f.label :code
  = f.text_field :code, maxlength: 4
%p
  = f.label :name
  = f.text_field :name
%p
  = f.label :type, "Project Type"
  = f.select :type, project_types
%fieldset#build_setup
  #field_container
    - ProjectsHelper::PROJECT_TYPE_NAMES.each do |project_type|
      - enabled = f.object.type == project_type.name
      %fieldset{ id: project_type,  class: "#{'hide' unless enabled}" }
        - project_type.project_specific_attributes.each do |field|
          %p
            = f.label field
            = f.text_field field, :disabled => !enabled
  %p
    = f.label :auth_username, "Feed Username"
    = f.text_field :auth_username, :size=>40
    %em Basic or digest authentication
  %p
    = f.label :auth_password, "Feed Password"
    = f.password_field :auth_password, size: 40, value: f.object.auth_password
    %em Basic or digest authentication
  %p
    = f.label :online, "CI status"
    = f.hidden_field :online
    %span#build_status
      %span.success.hide OK
      %span.pending.hide &nbsp;
      %span.unconfigured.hide Unconfigured
      %span.failure.hide Error
%p
  = f.label :enabled, "Enabled?"
  = f.check_box :enabled
%p
  = f.label :aggregate_project_id, "Aggregate Project"
  = collection_select(:project, :aggregate_project_id, AggregateProject.all, :id, :name, {:prompt => false, :disabled => lambda { |ap| !ap.enabled? }, :include_blank => true})
%p
  = f.label :tag_list, "Tags"
  = f.text_field :tag_list, :size=>40
  %em
    Separate with commas
%p
  = f.label :polling_interval, "Polling Interval"
  = f.text_field :polling_interval, :size=>3
  seconds
  %em
    If blank, will use #{Project::DEFAULT_POLLING_INTERVAL} seconds.
    %br
    - if @project.next_poll_at
      Will poll in
      %span#time_left= @project.next_poll_at > Time.now ? "#{@project.next_poll_at.utc.to_i - Time.now.utc.to_i} seconds" : "ASAP"
%hr
%fieldset#tracker_setup
  %h3 Tracker Setup
  %p
    = f.label :tracker_project_id, "Tracker project id"
    = f.text_field :tracker_project_id
    %span#project_tracker_project_id_status
      %span.success.hide &#10004;
      %span.failure.hide &#10008;
  %p
    = f.label :tracker_auth_token, "Tracker auth token"
    = f.text_field :tracker_auth_token
    %span#project_tracker_auth_token_status
      %span.success.hide &#10004;
      %span.failure.hide &#10008;
  %p
    = f.label :tracker_online, "Tracker status"
    = f.hidden_field :tracker_online
    %span#tracker_status
      %span.success.hide OK
      %span.pending.hide &nbsp;
      %span.unconfigured.hide Unconfigured
      %span.failure.hide
%p
  %em
    Server time is #{Time.now}

%p{:style => "text-align: right; margin-bottom: 0;"}
  = submit_tag @project.new_record? ? "Create" : "Update"
