.form-group
  = f.label :code, class: "col-sm-2 control-label"
  .col-sm-1
    = f.text_field :code, maxlength: 4, class: "form-control"
.form-group
  = f.label :name, class: "col-sm-2 control-label"
  .col-sm-6
    = f.text_field :name, class: "form-control"
- if f.object.creator.present?
  .form-group
    = f.label :creator, class: "col-sm-2 control-label"
    .col-sm-4
      %p.help-block
        = "#{f.object.creator.name} (#{f.object.creator.email})"
.form-group
  = f.label :type, "Project Type", class: "col-sm-2 control-label"
  .col-sm-3
    = f.select :type, project_types, {}, class: "form-control"
.form-group
  .col-sm-offset-2.col-sm-2
    .checkbox
      = f.label :enabled do
        = f.check_box :enabled
        Enabled?
.form-group
  = f.label :aggregate_project_id, "Aggregate Project", class: "col-sm-2 control-label"
  .col-sm-3
    = collection_select(:project, :aggregate_project_id, AggregateProject.all, :id, :name, {:prompt => false, :disabled => lambda { |ap| !ap.enabled? }, :include_blank => true}, class: "form-control")
.form-group
  :javascript
    autocomplete("#project_tag_list", #{ ActsAsTaggableOn::Tag.all.map(&:name) });
  = f.label :tag_list, "Tags", class: "col-sm-2 control-label"
  .col-sm-4
    = f.text_field :tag_list, class: "form-control col-sm-4"
  %p.help-block Separate with commas

= render 'build_setup', f: f
= render 'tracker_setup', f: f

= f.hidden_field :id
%hr
  .row
    .col-sm-offset-2.col-sm-1
      = submit_tag @project.new_record? ? "Create" : "Update", class: 'btn btn-primary'
    .pull-right
      - if !@project.new_record?
        = link_to 'Remove Project', project_path(@project), data: { confirm: 'Are you sure?' }, method: :delete, class: 'btn btn-danger'

.row
  %p.text-muted.text-center Server time is #{Time.now}
