%hr
%fieldset#project_type_section
  %h3 Project Type
  .form-group
    = f.label :type, 'Provider', class: 'col-sm-2 control-label'
    .col-sm-3
      = f.select :type, project_types, {}, class: 'form-control'
  - ProjectsHelper::PROJECT_TYPE_NAMES.each do |project_type|
    - enabled = f.object.type == project_type.name
    .provider-specific{ class: "#{'hide' unless enabled} #{project_type}" }
      .col-md-2
      .col-md-10.build_setup_instructions= preserve(build_setup_instructions_for(project_type).html_safe)
