<h1>Projects</h1>

<%= link_to 'Add Project', new_project_path, :class => "button", :style => "margin-left: 15px;" %>

<table class="projects">
  <tr>
    <th>Name</th>
    <th>Project Type</th>
    <th>Enabled?</th>
    <th>Aggregate?</th>
    <th>Tags</th>
    <th colspan="2">&nbsp;</th>
  </tr>

  <% for project in @projects %>
    <tr class="<%= cycle("odd", "even") %>">
      <td><%= h project.name %></td>
      <td>
        <%= content_tag 'span', project.class.name.titleize, :title=>"#{project.feed_url}#{project.has_auth? ? ' (under auth)' : ''}" %>
      </td>
      <td style="text-align: center;">
        <% if project.enabled? %>
          &#10003;
        <% else -%>
          <span style="color: #AA1224;">&#10005;</span>
        <% end -%>
      </td>
      <td style="text-align: center;"><%= project.aggregate_project.present? ? project.aggregate_project.name : "" %></td>
      <td><%= project.tag_list %></td>
      <td>
        <%= link_to 'Edit', edit_project_path(project), :class => "button" %>
      </td>
      <td>
        <%= link_to 'Remove', project_path(project), :confirm => 'Are you sure?', :method => :delete, :class => "button" %>
      </td>
    </tr>
  <% end %>
</table>

<h1>Aggregate projects</h1>

<%= link_to 'Add Aggregate Project', new_aggregate_project_path, :class => "button", :style => "margin-left: 15px;" %>

<table class="projects">
  <tr>
    <th>Name</th>
    <th>Enabled?</th>
    <th>Tags</th>
    <th colspan="2">&nbsp;</th>
  </tr>

  <% for aggregated_project in @aggregate_projects %>
    <tr class="<%= cycle("odd", "even") %>">
      <td><%= h aggregated_project.name %></td>
      <td style="text-align: center;">
        <% if aggregated_project.enabled? %>
          &#10003;
        <% else -%>
          <span style="color: #AA1224;">&#10005;</span>
        <% end -%>
      </td>
      <td><%= aggregated_project.tag_list %></td>
      <td>
        <%= link_to 'Edit', edit_aggregate_project_path(aggregated_project), :class => "button" %>
      </td>
      <td>
        <%= link_to 'Remove', aggregate_project_path(aggregated_project), :confirm => 'Are you sure?', :method => :delete, :class => "button" %>
      </td>
    </tr>
  <% end %>
</table>
