<h1>Listing projects</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Project Type</th>
    <th>Feed URL</th>
    <th>Enabled?</th>
    <th>Tags</th>
    <th colspan="2">&nbsp;</th>
  </tr>

  <% for project in @projects %>
    <tr>
      <td><%= h project.name %></td>
      <td><%= h project.class.name.titleize %></td>
      <td><%= link_to h(project.feed_url), project.feed_url %>
        <% if !project.auth_username.blank? || !project.auth_password.blank? %>(under auth)
        <% end %>
      </td>
      <td><%= project.enabled? ? "Yes" : "No" %></td>
      <td><%= project.tag_list %></td>
      <td><%= link_to 'Edit', edit_project_path(project) %></td>
      <td><%= link_to 'Remove', project_path(project), :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<br/>

<%= link_to 'Home', root_path %>
<%= link_to 'New project', new_project_path %>