- content_for :head do
  = javascript_include_tag 'project'

= link_to '&larr; Back to Projects'.html_safe, edit_configuration_path
%h1 Add Project
%hr
= error_messages_for @project
= form_for(@project, as: :project, url: projects_path, html: { class: "form-horizontal" }) do |f|
  = render 'form', f: f
