%p
  = f.label :code
  = f.text_field :code, maxlength: 4
%p
  = f.label :name
  = f.text_field :name
%p
  = f.label :enabled, "Enabled?"
  = f.check_box :enabled
%p
  = f.label :tag_list, "Tags"
  = f.text_field :tag_list, :size=>40
  %em (separate with commas)
%p{:style => "text-align: right; margin-bottom: 0;"}
  = submit_tag @aggregate_project.new_record? ? "Create" : "Update"
