%h1 Sign in
%hr
= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'form-horizontal' }) do |f|
  .form-group
    = f.label :login, 'Login or Email', class: 'col-sm-2 control-label'
    .col-sm-2
      = f.text_field :login, class: 'form-control'
  .form-group
    = f.label :password, class: 'col-sm-2 control-label'
    .col-sm-2
      = f.password_field :password, class: 'form-control'
  - if devise_mapping.rememberable?
    .form-group
      .col-sm-offset-2.col-sm-2
        .checkbox
          = f.label :remember_me do
            = f.check_box :remember_me
            Remember Me
    .row
      .col-sm-offset-2.col-sm-2
        = f.submit 'Sign in', class: 'btn btn-primary'
%hr
  .row
    .col-sm-offset-2.col-sm-4
      = render 'devise/shared/links'

