<%= link_to '&larr; Back to Messages'.html_safe, messages_path %>

<h1>Edit Twitter Search</h1>

<%= error_messages_for :twitter_search %>

<%= form_for(@twitter_search) do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
<% end %>

<div style="margin-left: 30px;">
  <%= link_to 'Remove Twitter Search -', twitter_search_path(@twitter_saerch), :confirm => 'Are you sure?', :method => :delete, :class => "button" %>
</div>
