<li class="<%= project.css_class %> <%= project.building? ? "building" : "" %>" id="<%= project.css_id %>" data-id="<%= project.id %>">
  <div class="information">
    <h1><%= link_to(project.code, project.status_url) %></h1>
    <div class="status-bar">
      <div class="publish-date"><%= project.time_since_last_build %></div>
      <div class="history">
        <ol>
          <% project.recent_online_statuses(status_count_for(tiles_count)).each do |status| %>
            <li class="<%= status.in_words %>">
              <%= link_to status.in_words, status.url %>
            </li>
          <% end %>
        </ol>
      </div>
    </div>
  </div>

  <div class="velocity-block">
    <% if project.tracker_project? %>
      <% if project.tracker_online? %>
        <div class="velocity">
          <span class="label">Velocity</span>
          <% unless project.last_ten_velocities.empty? %>
            <span class="value"><%= project.current_velocity %></span>
          <% end %>
        </div>
        <%= tracker_histogram project %>
      <% else %>
        <div class="error">
          No Connection
        </div>
      <% end %>
    <% end %>
  </div>
</li>
