<%
   if project.red?
       background = 'redbox'
       status_image = project.building? ? 'build-loader-red.gif' : 'exclamation.png'
   elsif project.green?
       background = 'greenbox'
       status_image = project.building? ? 'build-loader-green.gif' : 'checkmark.png'
   else
       background = 'bluebox'
   end
%>

<div class="box" project_id="<%= project.id %>" style="background: url('/images/<%= background %>.png') no-repeat top left">
  <div class="project_name <%= project.green? ? 'success' : 'error' %>">
    <h1><%= link_to(h(project.name), project.url) %></h1>
  </div>

  <% relative_status_messages_for(project).each do |css_class, message| %>
      <div class="<%= css_class %>">
        <%= message %>
      </div>
  <% end %>

  <div class="project_history">
    <%= render :partial=>'dashboards/history', :locals=>{:project=>project} %>
  </div>

  <div class="project_status">
    <% if project.online? %>
        <%= link_to(image_tag(status_image, {:class => 'status_image'}), project.status.url) %>
    <% else %>
        <%= image_tag("questionmark.png", {:class => 'status_image'}) %>
    <% end %>
  </div>
</div>
