%li{:class => "#{project.css_class} #{"building" if project.building?}", "data-id" => project.id, :id => project.css_id}
  .information
    %h1= project_status_link(project)
    .status-bar
      .publish-date= project.time_since_last_build
      .history
        = build_history project, tiles_count
  .velocity-block
    - if project.tracker_project?
      - if project.tracker_online?
        .velocity
          %span.label Velocity
          - unless project.last_ten_velocities.empty?
            %span.value= project.current_velocity
        = tracker_histogram project
      - else
        .error
          No Connection
