<% if project.is_a? Location %>
  <li class="project location-header <%=grid_class%>">
    <span><%= project %></span>
  </li>
<% elsif project %>
  <li class="<%= project.css_class %> <%=grid_class%>" id="project_<%= project.css_id %>" data-id="<%= project.id %>">
    <div class="information">
      <h1><%= link_to(project.code, project.url) %></h1>
      <h2><%= link_to(project.name, project.url) %></h2>
    </div>

    <div class="history">
      <h3 class="publish_date"><%= project.time_since_last_build %></h3>
      <ol class="sparklines<%= " building" if project.building? %>">
        <% project.recent_online_statuses(10).each do |status| %>
          <li class="sparkline <%= status.in_words %>">
            <%= link_to status.in_words, status.url %>
          </li>
        <% end %>
      </ul>
    </div>
  </li>
<% else %>
  <li class="project empty-project <%=grid_class%>"></li>
<% end %>
