<%= content_for(:head) do %>
    <script type="text/javascript">
  jQuery(function(){
    scheduleRefresh();
  });
</script>
<% end %>
<div class="cached_images" >
  <% ["/images/bluebox-aggregate.png", "/images/questionmark.png", "/images/bluebox.png"].each do |image| %>
    <%= image_tag image %>
  <% end %>
</div>
<div class="projects">
  <% for project in @projects %>
    <div class="project<%= project.is_a?(AggregateProject) ? ' aggregate' : ''%>">
      <%= render :partial => 'dashboards/project', :locals => {:project => project} %>
    </div>
  <% end %>

  <% for message in @messages -%>
    <div class="project message">
      <%= render :partial => 'dashboards/message', :locals => {:message => message} %>
    </div>
  <% end -%>

  <% if @twitter_searches.present? -%>
    <script src="http://widgets.twimg.com/j/2/widget.js"></script>

    <% for twitter_search in @twitter_searches -%>
      <div class="project message">
        <%= render :partial => 'dashboards/twitter_search', :locals => {:twitter_search => twitter_search} %>
      </div>
    <% end -%>
  <% end -%>
</div>
