%h1 Projects
= link_to 'Add Project +', new_project_path, :class => "button add_button"
%table.projects
  %tr
    %th Code
    %th Name
    %th Project Type
    %th Enabled?
    %th Aggregate
    %th Tags
    %th Webhooks
    %th Actions
    %th Remove
  - for project in @projects
    %tr{:class => cycle("odd", "even"), :id => "project-#{project.id}"}
      %td= h project.code
      %td= h project.name
      %td
        = content_tag 'span', t("project_types.#{project.class.name.underscore}"), :title=>"#{project.feed_url}#{project.has_auth? ? ' (under auth)' : ''}"
        = image_tag("icons/lock.png", :style => "position:relative; top: 3px;") if project.has_auth?
      %td{:style => "text-align: center;"}
        - if project.enabled?
          ✓
        - else
          %span{:style => "color: #AA1224;"} ✕
      %td{:style => "text-align: center;"}= project.aggregate_project.present? ? project.aggregate_project.name : ""
      %td.tag_list= project.tag_list
      %td= project.webhooks_enabled ? project_webhooks_url(project) : "✕"
      %td
        = link_to 'Edit', edit_project_path(project), :class => "button"
      %td
        = link_to 'Delete', project_path(project), :method => :delete, :class =>"button"
%h1 Aggregate Projects
= link_to 'Add Aggregate Project +', new_aggregate_project_path, :class => "button add_button"
%table.projects
  %tr
    %th Name
    %th Enabled?
    %th Tags
    %th Actions
    %th Remove
  - reset_cycle
  - for aggregate_project in @aggregate_projects
    %tr{:class => cycle("odd", "even"), :id => "aggregate-project-#{aggregate_project.id}"}
      %td= h aggregate_project.name
      %td{:style => "text-align: center;"}
        - if aggregate_project.enabled?
          ✓
        - else
          %span{:style => "color: #AA1224;"} ✕
      %td.tag_list= aggregate_project.tag_list
      %td
        = link_to 'Edit', edit_aggregate_project_path(aggregate_project), :class => "button"
      %td
        = link_to 'Delete', aggregate_project_path(aggregate_project), :method => :delete, :class =>"button"
