%h1 Payload Log for #{@project.name}
%table.projects
  %th Date
  %th Status
  %th Method
  %th Message
  %th Backtrace
  - @payload_log_entries.each do |entry|
    %tr
      %td= entry.created_at
      %td= entry.status
      %td= entry.method
      %td
        - if entry.error_text.present?
          = entry.error_text.truncate(50)
      %td
        - if entry.backtrace.present?
          = link_to "show backtrace", '#', id: "showTrace"
          .backtrace.hide
            %pre
              = entry.backtrace
            = link_to "hide backtrace", '#', id: "hideTrace"
