%h1 Payload Log for #{@project.name}
%table.projects
  %th Date
  %th Status
  %th Method
  %th Message
  - @payload_log_entries.each do |entry|
    %tr
      %td= entry.created_at
      %td= entry.status
      %td= entry.method
      %td
        - if entry.error_text.present?
          = entry.error_text.truncate(50)
          = link_to "show stacktrace", '#', id: "showTrace"
          .stacktrace.hide
            %pre
              = entry.error_text
            = link_to "hide stacktrace", '#', id: "hideTrace"
