!!!
%html
  %head
    %title Project Monitor
    = stylesheet_link_tag "application"
    = yield :head
  %body
    #header
      = link_to(image_tag('pivotallabs-logo.png', :class => 'company_logo'), '/')
      = link_to(image_tag('ci-logo.png'), '/')
      #top_right
        - if current_user.present?
          Hello, #{current_user.login}
          = link_to "(log out)", destroy_user_session_path, class: 'smaller_text', method: :delete
          %br
          = link_to "Projects", projects_path
          - if config_for(:password_auth_enabled)
            |
            = link_to "Add User", new_user_path
    %div{:class => "page #{params[:controller]} #{params[:action]}"}
      - if flash[:error]
        #flash_error
          = flash[:error]
      - if flash[:notice]
        #flash_notice
          = flash[:notice]
      = yield
    = javascript_include_tag "application"
