<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <!-- This is to force all links inside the auto-refresh frame to open outside the frame at the top level. -->
  <!-- Otherwise, there is no way to escape the auto-refresh frame. -->
  <base target="_top">

  <meta http-equiv="content-type" content="text/html;charset=UTF-8"/>

  <title><%= title %></title>
  <%= javascript_include_tag 'refresh' %>
  <%= stylesheet_link_tag 'style' %>
  <%= stylesheet_link_tag 'sparkline' %>
  <%= yield :head %>
</head>
<body>

<% unless @no_header %>
    <div id="header">
      <div id="logo">
        <%= link_to(image_tag('pivotallabs-logo.png', :class => 'company_logo'), '/') %>
        <%= link_to(image_tag(logo), '/') %>
      </div>
    </div>

    <div style="clear:both"></div>
<% end %>

<div class="page">

  <div id="top_right">
    <div class="smaller_text">
      <i>As of <%= Time.now.strftime('%I:%M%p %Z %m/%d/%Y') %></i>
      <% if current_user.nil? %>
          | <%= link_to "Log in", AuthConfig.openid? ? new_openid_path : login_path %>
      <% end %>
      <br/>
      <% if params[:controller] == "ci_monitor" %>
        <%= link_to_function "refresh rate", "document.getElementById('refreshInterval').style.display='inline'; this.style.display='none'" %>
        <%= select_tag "refreshInterval",
                           options_for_select([["15 seconds", "15"], ["30 seconds", "30"], ["60 seconds", "60"], ["5 minutes", "300"], ["Never", "0"]]),
                           :onchange => "onChangeRefreshTimeoutDropdown()", :style => "display: none" %>
        <%= javascript_tag do %>
        setRefreshIntervalDropdown();
      <% end %>
      <% end %>
    </div>
    <% if !current_user.nil? %>
        <div class="smaller_text">
          Hello, <%= current_user.login %>
          <br>
          <%= link_to "Projects", projects_path %> |
          <% if AuthConfig.password? %>
            <%= link_to "New user", new_user_path %> | 
          <% end %>
          <%= link_to "Log out", session_path, :method => :delete %>
        </div>
    <% end %>

  </div>

  <% if flash[:error] %>
      <div id="flash_error">
        <%= flash[:error] %>
      </div>
  <% end %>

  <% if flash[:notice] %>
      <div id="flash_notice">
        <%= flash[:notice] %>
      </div>
  <% end %>

  <%= yield %>

</div>

<% if Rails.env.production? %>
    <% javascript_tag do %>
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    <% end %>
    <% javascript_tag do %>
        try {
        var pageTracker = _gat._getTracker("UA-1687866-10");
        pageTracker._trackPageview();
        } catch(err) {}
    <% end %>
<% end %>

</body>
</html>
