!!!
%html
  %head
    %title Project Monitor
    = stylesheet_link_tag "dashboard"
    %script{:src => "http://fast.fonts.com/jsapi/14aea2b8-37b7-4a31-afb9-e44414bef419.js", :type => "text/javascript"}
  %body{:class => "dashboard tiles_#{@tiles_count}", "data-tiles-count" => @tiles_count}
    = yield
    #footer
      .left
        Layout:
        = link_to "15", root_path(params.merge(tiles_count: 15)), class: "projects_path"
        |
        = link_to "24", root_path(params.merge(tiles_count: 24)), class: "projects_path"
        |
        = link_to "48", root_path(params.merge(tiles_count: 48)), class: "projects_path"
        |
        = link_to "63", root_path(params.merge(tiles_count: 63)), class: "projects_path"
        |
        = link_to "All projects", root_path, class: "projects_path"
      .right
        - if current_user
          = link_to "log out", destroy_user_session_path, class: "projects_path", method: :delete
          |
        #indicator
          = image_tag "indicator.gif", :title => "indicator", :alt => "indicator"
        = link_to "manage projects", edit_configuration_path, class: "projects_path"
    = javascript_include_tag "dashboard"
