<!DOCTYPE html>
<html>
  <head>
    <title>CI Monitor</title>
    <%= stylesheet_link_tag "dashboard" %>
    <script type="text/javascript" src="http://fast.fonts.com/jsapi/14aea2b8-37b7-4a31-afb9-e44414bef419.js"></script>
  </head>
  <body class="dashboard">
    <%= yield %>

    <div id="footer">

      <% if current_user %>
        <%= link_to "log out", logout_path, class: "projects_path" %>
        |
      <% end %>
      <%= link_to "manage projects", projects_path, class: "projects_path" %>

    </div>

    <%= javascript_include_tag "dashboard" %>
  </body>
</html>
