!!!
%html
  %head
    %title Project Monitor
    = stylesheet_link_tag "dashboard"
    = javascript_include_tag "application"
  %body{:class => "dashboard tiles_#{@tiles_count}", "data-tiles-count" => @tiles_count}
    = yield
    #footer
      .left
      .right
        - if current_user
          = link_to "log out", destroy_user_session_path, class: "projects_path", method: :delete
          |
        #indicator
          = image_tag "indicator.gif", :title => "indicator", :alt => "indicator"
        = link_to "manage projects", edit_configuration_path, class: "projects_path"
